In [ ]:
from pyspark import SparkContext
from pyspark import SQLContext

sqlContext = SQLContext(sparkContext=sc)

In [2]:
def CalculaAnioCampana(aniocampana, delta):
    resultado = str(int(aniocampana)).strip()
    numero = int(resultado[:4])*18 + int(resultado[-2:]) + delta
    anio = str(numero//18)
    campana =str(numero%18).zfill(2)
    resultado = anio + campana
    return resultado

In [3]:
codpais = 'PE' 
aniocampanaproceso = '201801'

aniocampanaproceso_menos5 = CalculaAnioCampana(aniocampanaproceso, -5)
aniocampanaexposicion = aniocampanaproceso

In [4]:
dmatrizcampana = sqlContext.read.parquet("s3://hdata-belcorp/modelo-analitico-parquet/dwh_dmatrizcampana/")
fvtaproebecam = sqlContext.read.parquet("s3://hdata-belcorp/modelo-analitico-parquet/dwh_fvtaproebecam/")
dtipooferta = sqlContext.read.parquet("s3://hdata-belcorp/modelo-analitico-parquet/dwh_dtipooferta/")
dpais = sqlContext.read.parquet("s3://hdata-belcorp/modelo-analitico-parquet/dwh_dpais/")
dproducto = sqlContext.read.parquet("s3://hdata-belcorp/modelo-analitico-parquet/dwh_dproducto/")

In [5]:
dmatrizcampana.registerTempTable("dmatrizcampana")
fvtaproebecam.registerTempTable("fvtaproebecam")
dtipooferta.registerTempTable("dtipooferta")
dpais.registerTempTable("dpais")
dproducto.registerTempTable("dproducto")

In [6]:
dpais_proceso = sqlContext.sql("Select codpais from dpais where codpais = '" + codpais + "'")

In [7]:
df_cusvalidos = sqlContext.sql(" Select a.CodPais, a.AnioCampana, a.CodVenta from dmatrizcampana a "
                               " inner join dpais b on a.codpais=b.codpais "  
                               " where a.aniocampana >= '" + aniocampanaproceso_menos5 + "' "
                               " and a.aniocampana <= '" + aniocampanaproceso + "' "
                               " and a.codventa <> '00000' "
                               " group by a.codpais, a.aniocampana, a.codventa ")

df_cusvalidos.registerTempTable("cusvalidos")

In [8]:
df_tipoofertavalidos = sqlContext.sql(" Select codpais, codtipooferta from dtipooferta "
                                   " where codtipooferta not in ('030','031','040','051','061', "
                                   " '062','065','066','068','071','072','077','078','079','082','083', "
                                   " '085','090','093','099','109','050','082','091','098') "
                                   " and codtipoprofit='01' "
                                   " and codpais = '" + codpais + "' "
                                   " group by codpais, codtipooferta ")

df_tipoofertavalidos.registerTempTable("tipoofertavalidos")

In [9]:
df_productos=sqlContext.sql(" Select codmarca, codsap from dproducto "
                              " where DesCategoria in ('CUIDADO PERSONAL','FRAGANCIAS','MAQUILLAJE', " 
                              " 'TRATAMIENTO CORPORAL','TRATAMIENTO FACIAL') and codmarca in ('A','B','C') ")

df_productos.registerTempTable("productos")

In [10]:
df_conteomarcas=sqlContext.sql(" Select '" + aniocampanaexposicion + "' aniocampanaexposicion,'" + aniocampanaproceso + "' as aniocampanaproceso "
                               " , a.codpais, a.codebelista, e.codmarca, count(distinct a.aniocampana) nropedidos "
                               " , sum(a.realuuvendidas) realuuvendidas, sum(a.realuuvendidas)/(count(distinct a.aniocampana)*1.0) pup "
                               " , sum(a.realvtamnneto/a.realtcpromedio)/(count(distinct a.aniocampana)*1.0) psp "
                               " , sum(a.realvtamnneto/a.realtcpromedio)/sum(a.realuuvendidas*1.0) ppu "
                               " from fvtaproebecam a inner join productos e on a.codsap=e.codsap "
                               " inner join cusvalidos cv on a.aniocampana = cv.aniocampana and a.codventa=cv.codventa "
                               " inner join tipoofertavalidos tof on a.codtipooferta = tof.codtipooferta "                        
                               " where a.aniocampana=a.aniocampanaref and a.codpais='" + codpais +"' and a.aniocampana between '" + aniocampanaproceso_menos5 +"' "
                               " and '" + aniocampanaproceso +"' "
                               " group by a.codpais, a.codebelista, e.codmarca having sum(a.realuuvendidas)>0 ")

df_conteomarcas.registerTempTable("conteomarcas")

In [11]:
df_pivot1 = sqlContext.sql(" select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, codmarca, "
                           " max(cast(pup as decimal(12,4))) as pup, max(cast(ppu as decimal(12,4))) as ppu "
                           " from conteomarcas "
                           " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, codmarca")

df_pivot1.registerTempTable("pivot")

In [12]:
df_tempomarcas_pup = sqlContext.sql(" Select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
                                 " sum(case when codmarca='A' then cast(pup as decimal(12,4)) else 0 end) as pup_lbel, "
                                 " sum(case when codmarca='B' then cast(pup as decimal(12,4)) else 0 end) as pup_esika, "
                                 " sum(case when codmarca='C' then cast(pup as decimal(12,4)) else 0 end) as pup_cyzone"
                                 " from pivot "
                                 " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista ")

df_tempomarcas_pup.registerTempTable("tempomarcas_pup")

In [13]:
df_tempomarcas_ppu = sqlContext.sql(" Select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
                                 " sum(case when codmarca='A' then cast(ppu as decimal(12,4)) else 0 end) as ppu_lbel, "
                                 " sum(case when codmarca='B' then cast(ppu as decimal(12,4)) else 0 end) as ppu_esika, "
                                 " sum(case when codmarca='C' then cast(ppu as decimal(12,4)) else 0 end) as ppu_cyzone"
                                 " from pivot "
                                 " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista ")

df_tempomarcas_ppu.registerTempTable("tempomarcas_ppu")

sqlContext.dropTempTable("pivot")

In [14]:
df_tempomarcas = sqlContext.sql(" Select a.aniocampanaexposicion, a.aniocampanaproceso, a.codpais, a.codebelista, "
                                " a.pup_lbel, a.pup_esika, a.pup_cyzone, b.ppu_lbel, b.ppu_esika, b.ppu_cyzone "
                                " from tempomarcas_pup a "
                                " inner join tempomarcas_ppu b on a.codpais=b.codpais and a.aniocampanaexposicion=b.aniocampanaexposicion "
                                " and a.aniocampanaproceso=b.aniocampanaproceso and a.codebelista=b.codebelista ")

df_tempomarcas.registerTempTable("tempomarcas")


sqlContext.dropTempTable("tempomarcas_ppu")
sqlContext.dropTempTable("tempomarcas_pup")

In [15]:
df_conteocategorias = sqlContext.sql(" select '" + aniocampanaexposicion + "' as aniocampanaexposicion, '" + aniocampanaproceso + "' as aniocampanaproceso, " 
               " a.codpais, a.codebelista, e.descategoria, case when e.descategoria = 'CUIDADO PERSONAL' then 'CP' "
               " when e.descategoria = 'FRAGANCIAS' then 'FG' "
               " when e.descategoria = 'MAQUILLAJE' then 'MQ' "
               " when e.descategoria = 'TRATAMIENTO CORPORAL' then 'TC' "
               " when e.descategoria = 'TRATAMIENTO FACIAL' then 'TF' end codcategoria, "
               " count(distinct a.aniocampana) as nropedidos, "
               " sum(a.realuuvendidas) as realuuvendidas, "
               " sum(a.realuuvendidas)/(count(distinct a.AnioCampana)*1.0) as pup, "
               " sum(a.realvtamnneto/a.realtcpromedio)/(COUNT(distinct a.aniocampana)*1.0) as psp, "
               " sum(a.realVtamnneto/a.realtcpromedio)/SUM(a.realuuvendidas*1.0) as ppu "
               " from fvtaproebecam a inner join dproducto e on e.codsap=a.codsap "
               " inner join cusvalidos cv on a.codventa=cv.codventa "
               " inner join tipoofertavalidos tof on a.codpais=tof.codpais and a.codtipooferta=tof.codtipooferta "
               " where a.aniocampana=a.aniocampanaref and a.aniocampana between '" + aniocampanaproceso_menos5 + "' and '" + aniocampanaproceso + "' "
               " and e.descategoria in ('CUIDADO PERSONAL','FRAGANCIAS','MAQUILLAJE','TRATAMIENTO CORPORAL','TRATAMIENTO FACIAL') "
               " group by a.codpais, a.codebelista, e.descategoria, case when e.descategoria = 'CUIDADO PERSONAL' then 'CP' "
                                                                          "when e.descategoria = 'FRAGANCIAS' then 'FG'"
                                                                          "when e.descategoria = 'MAQUILLAJE' then 'MQ' "
                                                                          "when e.descategoria = 'TRATAMIENTO CORPORAL' then 'TC' "
                                                                          "when e.descategoria = 'TRATAMIENTO FACIAL' then 'TF' end "
               " having sum(a.realuuvendidas)>0 ")

df_conteocategorias.registerTempTable("conteocategorias")

In [16]:
df_pivot1 = sqlContext.sql(" select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, codcategoria, "
                           " avg(cast(pup as decimal(12,4))) as pup, avg(cast(ppu as decimal(12,4))) as ppu "
                           " from conteocategorias "
                           " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, codcategoria")

df_pivot1.registerTempTable("pivot")
sqlContext.dropTempTable("conteocategorias")

In [17]:
df_tempocategoria_pup = sqlContext.sql("select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
               " sum(CASE WHEN codcategoria='CP' THEN cast(pup as decimal(12,4)) else 0 end) as pup_cp, "
               " sum(CASE WHEN codcategoria='FG' THEN cast(pup as decimal(12,4)) else 0 end) as pup_fg, "
               " sum(CASE WHEN codcategoria='MQ' THEN cast(pup as decimal(12,4)) else 0 end) as pup_mq, "
               " sum(CASE WHEN codcategoria='TC' THEN cast(pup as decimal(12,4)) else 0 end) as pup_tc, "
               " sum(CASE WHEN codcategoria='TF' THEN cast(pup as decimal(12,4)) else 0 end) as pup_tf "
               " from pivot "
               "group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista ")

df_tempocategoria_pup.registerTempTable("tempocategoria_pup")

In [18]:
df_tempocategoria_ppu = sqlContext.sql(" select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
               "sum(CASE WHEN codcategoria='CP' THEN cast(ppu as decimal(12,4)) else 0 end) as ppu_cp, "
               "sum(CASE WHEN codcategoria='FG' THEN cast(ppu as decimal(12,4)) else 0 end) as ppu_fg, "
               "sum(CASE WHEN codcategoria='MQ' THEN cast(ppu as decimal(12,4)) else 0 end) as ppu_mq, "
               "sum(CASE WHEN codcategoria='TC' THEN cast(ppu as decimal(12,4)) else 0 end) as ppu_tc, "
               "sum(CASE WHEN codcategoria='TF' THEN cast(ppu as decimal(12,4)) else 0 end) as ppu_tf "
               "FROM pivot "
               "group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista ")

df_tempocategoria_ppu.registerTempTable("tempoCategoria_ppu")
sqlContext.dropTempTable("pivot")

In [19]:
df_tempocategoria = sqlContext.sql(" select a.aniocampanaexposicion, a.aniocampanaproceso, a.codpais, a.codebelista, "
               " a.pup_cp, a.pup_fg, a.pup_mq, a.pup_tc, a.pup_tf, b.ppu_cp, b.ppu_fg, b.ppu_mq, b.ppu_tc, b.ppu_tf "
               " from tempocategoria_pup a "
               " inner join tempoCategoria_ppu b "
               " on a.codpais = b.codpais "
               " and a.aniocampanaexposicion = b.aniocampanaexposicion "
               " and a.aniocampanaproceso = b.aniocampanaproceso "
               " and a.codebelista= b.codebelista ")

df_tempocategoria.registerTempTable("tempocategoria")
sqlContext.dropTempTable("tempocategoria_pup")
sqlContext.dropTempTable("tempoCategoria_ppu")

In [20]:
df_conteomarcacategorias = sqlContext.sql(" select '" + aniocampanaexposicion + "' as aniocampanaexposicion, '" + aniocampanaproceso + "' as aniocampanaproceso, "
               " a.codpais, a.codebelista, e.codmarca, e.descategoria, case when e.descategoria = 'CUIDADO PERSONAL' then 'CP' "
               " when e.descategoria = 'FRAGANCIAS' then 'FG' "
               " when e.descategoria = 'MAQUILLAJE' then 'MQ' "
               " when e.descategoria = 'TRATAMIENTO CORPORAL' then 'TC' "
               " when e.descategoria = 'TRATAMIENTO FACIAL' then 'TF' end codcategoria, "
               " rtrim(ltrim(e.codmarca))+case when e.descategoria = 'CUIDADO PERSONAL' then 'CP' "
                                             "when e.descategoria = 'FRAGANCIAS' then 'FG' "
                                             "when e.descategoria = 'MAQUILLAJE' then 'MQ' "
                                             "when e.descategoria = 'TRATAMIENTO CORPORAL' then 'TC' "
                                             "when e.descategoria = 'TRATAMIENTO FACIAL' then 'TF' end codmarcacategoria, "
               " count(distinct a.aniocampana) as nropedidos, "
               " sum(a.realuuvendidas) as realuuvendidas, "
               " sum(a.realuuvendidas)/(count(distinct a.aniocampana)*1.0) as pup, "
               " sum(a.realvtamnneto/a.realtcpromedio)/(COUNT(distinct a.anioCampana)*1.0) as psp, "
               " sum(a.realvtamnneto/a.realtcpromedio)/SUM(a.realuuvendidas*1.0) as ppu "
               " from fvtaproebecam a "
               " inner join dproducto e on a.codsap=e.codsap "
               " inner join cusvalidos cv on a.codventa=cv.codventa "
               " inner join tipoofertavalidos tof on a.codpais = tof.codpais and a.codtipooferta = tof.codtipooferta "               
               " where a.aniocampana=a.aniocampanaref "
               " and a.aniocampana between '" + aniocampanaproceso_menos5 +"' and '" + aniocampanaproceso + "' "
               " and e.codmarca in ('A','B','C') "
               " and e.descategoria in ('CUIDADO PERSONAL','FRAGANCIAS','MAQUILLAJE','TRATAMIENTO CORPORAL','TRATAMIENTO FACIAL') "
               " group by a.codpais, a.codebelista, e.codmarca, e.descategoria, case when e.descategoria = 'CUIDADO PERSONAL' then 'CP' "
                                                                                      "when e.descategoria = 'FRAGANCIAS' then 'FG' "
                                                                                      "when e.descategoria = 'MAQUILLAJE' then 'MQ' "
                                                                                      "when e.descategoria = 'TRATAMIENTO CORPORAL' then 'TC' "
                                                                                      "when e.descategoria = 'TRATAMIENTO FACIAL' then 'TF' end "
               " having sum(a.realuuvendidas)>0 ")

df_conteomarcacategorias.registerTempTable("conteomarcacategorias")
sqlContext.dropTempTable("cusvalidos")
sqlContext.dropTempTable("tipoofertavalidos")

In [21]:
df_pivot1 = sqlContext.sql(" Select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, codmarcacategoria, "
               " avg(cast(pup as decimal(12,4))) as pup, avg(cast(ppu as decimal(12,4))) as ppu "
               " from conteomarcacategorias "
               " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, codmarcacategoria ")

df_pivot1.registerTempTable("pivot")
sqlContext.dropTempTable("conteomarcacategorias")

In [22]:
df_tempomarcacategoria_pup = sqlContext.sql(" Select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
               " sum(CASE WHEN codmarcacategoria='CCP' THEN cast(pup as decimal(12,4)) else 0 end) as pup_cyzone_cp , "
               " sum(CASE WHEN codmarcacategoria='CFG' THEN cast(pup as decimal(12,4)) else 0 end) as pup_cyzone_fg, "
               " sum(CASE WHEN codmarcacategoria='CMQ' THEN cast(pup as decimal(12,4)) else 0 end) as pup_cyzone_mq, "
               " sum(CASE WHEN codmarcacategoria='CTC' THEN cast(pup as decimal(12,4)) else 0 end) as pup_cyzone_tc, "
               " sum(CASE WHEN codmarcacategoria='CTF' THEN cast(pup as decimal(12,4)) else 0 end) as pup_cyzone_tf, "
               " sum(CASE WHEN codmarcacategoria='BCP' THEN cast(pup as decimal(12,4)) else 0 end) as pup_esika_cp, "
               " sum(CASE WHEN codmarcacategoria='BFG' THEN cast(pup as decimal(12,4)) else 0 end) as pup_esika_fg, "
               " sum(CASE WHEN codmarcacategoria='BMQ' THEN cast(pup as decimal(12,4)) else 0 end) as pup_esika_mq, "
               " sum(CASE WHEN codmarcacategoria='BTC' THEN cast(pup as decimal(12,4)) else 0 end) as pup_esika_tc, "
               " sum(CASE WHEN codmarcacategoria='BTF' THEN cast(pup as decimal(12,4)) else 0 end) as pup_esika_tf, "
               " sum(CASE WHEN codmarcacategoria='ACP' THEN cast(pup as decimal(12,4)) else 0 end) as pup_lbel_cp, "
               " sum(CASE WHEN codmarcacategoria='AFG' THEN cast(pup as decimal(12,4)) else 0 end) as pup_lbel_fg, "
               " sum(CASE WHEN codmarcacategoria='AMQ' THEN cast(pup as decimal(12,4)) else 0 end) as pup_lbel_mq, "
               " sum(CASE WHEN codmarcacategoria='ATC' THEN cast(pup as decimal(12,4)) else 0 end) as pup_lbel_tc, "
               " sum(CASE WHEN codmarcacategoria='ATF' THEN cast(pup as decimal(12,4)) else 0 end) as pup_lbel_tf"
               " from pivot "
               " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista ")

df_tempomarcacategoria_pup.registerTempTable("tempomarcacategoria_pup")

In [23]:
df_tempomarcacategoria_ppu = sqlContext.sql(" SELECT aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
               " sum(CASE WHEN codmarcacategoria='CCP' THEN ppu else 0 end) ppu_cyzone_cp, "
               " sum(CASE WHEN codmarcacategoria='CFG' THEN ppu else 0 end) ppu_cyzone_fg, "
               " sum(CASE WHEN codmarcacategoria='CMQ' THEN ppu else 0 end) ppu_cyzone_mq, "
               " sum(CASE WHEN codmarcacategoria='CTC' THEN ppu else 0 end) ppu_cyzone_tc, "
               " sum(CASE WHEN codmarcacategoria='CTF' THEN ppu else 0 end) ppu_cyzone_tf, "
               " sum(CASE WHEN codmarcacategoria='BCP' THEN ppu else 0 end) ppu_esika_cp, "
               " sum(CASE WHEN codmarcacategoria='BFG' THEN ppu else 0 end) ppu_esika_fg, "
               " sum(CASE WHEN codmarcacategoria='BMQ' THEN ppu else 0 end) ppu_esika_mq, "
               " sum(CASE WHEN codmarcacategoria='BTC' THEN ppu else 0 end) ppu_esika_tc, "
               " sum(CASE WHEN codmarcacategoria='BTF' THEN ppu else 0 end) ppu_esika_tf, "
               " sum(CASE WHEN codmarcacategoria='ACP' THEN ppu else 0 end) ppu_lbel_cp, "
               " sum(CASE WHEN codmarcacategoria='AFG' THEN ppu else 0 end) ppu_lbel_fg, "
               " sum(CASE WHEN codmarcacategoria='AMQ' THEN ppu else 0 end) ppu_lbel_mq, "
               " sum(CASE WHEN codmarcacategoria='ATC' THEN ppu else 0 end) ppu_lbel_tc, "
               " sum(CASE WHEN codmarcacategoria='ATF' THEN ppu else 0 end) ppu_lbel_tf "
               " from pivot "
               " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista ")

df_tempomarcacategoria_ppu.registerTempTable("tempomarcacategoria_ppu")
sqlContext.dropTempTable("pivot")

In [24]:
df_tempomarcacategoria = sqlContext.sql(" select a.aniocampanaexposicion, a.aniocampanaproceso, a.codpais, a.codebelista, "
               " a.pup_lbel_cp, a.pup_lbel_fg, a.pup_lbel_mq, a.pup_lbel_tc, a.pup_lbel_tf, a.pup_esika_cp, a.pup_esika_fg, "
               " a.pup_esika_mq, a.pup_esika_tc, a.pup_esika_tf, a.pup_cyzone_cp, a.pup_cyzone_fg, a.pup_cyzone_mq, "
               " a.pup_cyzone_tc, a.pup_cyzone_tf, b.ppu_lbel_cp, b.ppu_lbel_fg, b.ppu_lbel_mq, b.ppu_lbel_tc, b.ppu_lbel_tf, "
               " b.ppu_esika_cp, b.ppu_esika_fg, b.ppu_esika_mq, b.ppu_esika_tc, b.ppu_Esika_tf, b.ppu_cyzone_cp, b.ppu_cyzone_fg, "
               " b.ppu_cyzone_mq, b.ppu_cyzone_tc, b.ppu_cyzone_tf "
               " from tempomarcacategoria_pup a "
               " inner join tempomarcacategoria_ppu b "
               " on a.codpais = b.codpais "
               " and a.aniocampanaexposicion = b.aniocampanaexposicion "
               " and a.aniocampanaproceso = b.aniocampanaproceso "
               " and a.codebelista= b.codebelista ")

df_tempomarcacategoria.registerTempTable("tempomarcacategoria")
sqlContext.dropTempTable("tempomarcacategoria_pup")
sqlContext.dropTempTable("tempomarcacategoria_ppu")

In [25]:
#if codpais == 'TD':
#    cursor.execute("delete from dom_perfiles.mdl_perfilinput "
#                   "where AnioCampanaProceso = '" + anioCampanaProceso
#                   + "' AND AnioCampanaExposicion  = '" + anioCampanaExposicion + "';")
#else:
#    cursor.execute("delete from dom_perfiles.mdl_perfilinput "
#                   "where AnioCampanaProceso = '" + anioCampanaProceso
#                   + "' AND AnioCampanaExposicion  = '" + anioCampanaExposicion
#                   + "' AND CodPais = '" + codPais + "';")

In [26]:
df_perfilinput = sqlContext.sql(" select a.aniocampanaexposicion, a.aniocampanaproceso, a.codpais, a.codebelista, "
               "a.pup_lbel, a.pup_esika, a.pup_cyzone, b.pup_cp, b.pup_fg, b.pup_mq, b.pup_tc, b.pup_tf, c.pup_lbel_cp, "
               "c.pup_lbel_fg, c.pup_lbel_mq, c.pup_lbel_tc, c.pup_lbel_tf, c.pup_esika_cp, c.pup_esika_fg, c.pup_esika_mq, "
               "c.pup_esika_tc, c.pup_esika_tf, c.pup_cyzone_cp, c.pup_cyzone_fg, c.pup_cyzone_mq, c.pup_cyzone_tc, c.pup_cyzone_tf, "
               "a.ppu_lbel, a.ppu_esika, a.ppu_cyzone, b.ppu_cp, b.ppu_fg, b.ppu_mq, b.ppu_tc, b.ppu_tf, c.ppu_lbel_cp, c.ppu_lbel_fg, "
               "c.ppu_lbel_mq, c.ppu_lbel_tc, c.ppu_lbel_tf, c.ppu_esika_cp, c.ppu_esika_fg, c.ppu_esika_mq, c.ppu_esika_tc, c.ppu_esika_tf, "
               "c.ppu_cyzone_cp, c.ppu_cyzone_fg, c.ppu_cyzone_mq, c.ppu_cyzone_tc, c.ppu_cyzone_tf, 0.00 as pup, 0.00 as ppu, 3 as tercilpup, 3 as tercilppu "
               "from tempomarcas a "
               "inner join tempocategoria b on a.codebelista = b.codebelista "
               "inner join tempomarcacategoria c on a.codebelista = c.codebelista ")

df_perfilinput.registerTempTable("perfilinput")

In [27]:
df_perfilinput.printSchema()

root
 |-- aniocampanaexposicion: string (nullable = false)
 |-- aniocampanaproceso: string (nullable = false)
 |-- codpais: string (nullable = true)
 |-- codebelista: string (nullable = true)
 |-- pup_lbel: decimal(24,4) (nullable = true)
 |-- pup_esika: decimal(24,4) (nullable = true)
 |-- pup_cyzone: decimal(24,4) (nullable = true)
 |-- pup_cp: decimal(24,4) (nullable = true)
 |-- pup_fg: decimal(24,4) (nullable = true)
 |-- pup_mq: decimal(24,4) (nullable = true)
 |-- pup_tc: decimal(24,4) (nullable = true)
 |-- pup_tf: decimal(24,4) (nullable = true)
 |-- pup_lbel_cp: decimal(24,4) (nullable = true)
 |-- pup_lbel_fg: decimal(24,4) (nullable = true)
 |-- pup_lbel_mq: decimal(24,4) (nullable = true)
 |-- pup_lbel_tc: decimal(24,4) (nullable = true)
 |-- pup_lbel_tf: decimal(24,4) (nullable = true)
 |-- pup_esika_cp: decimal(24,4) (nullable = true)
 |-- pup_esika_fg: decimal(24,4) (nullable = true)
 |-- pup_esika_mq: decimal(24,4) (nullable = true)
 |-- pup_esika_tc: decimal(24,4) (nullable = true)
 |-- pup_esika_tf: decimal(24,4) (nullable = true)
 |-- pup_cyzone_cp: decimal(24,4) (nullable = true)
 |-- pup_cyzone_fg: decimal(24,4) (nullable = true)
 |-- pup_cyzone_mq: decimal(24,4) (nullable = true)
 |-- pup_cyzone_tc: decimal(24,4) (nullable = true)
 |-- pup_cyzone_tf: decimal(24,4) (nullable = true)
 |-- ppu_lbel: decimal(24,4) (nullable = true)
 |-- ppu_esika: decimal(24,4) (nullable = true)
 |-- ppu_cyzone: decimal(24,4) (nullable = true)
 |-- ppu_cp: decimal(24,4) (nullable = true)
 |-- ppu_fg: decimal(24,4) (nullable = true)
 |-- ppu_mq: decimal(24,4) (nullable = true)
 |-- ppu_tc: decimal(24,4) (nullable = true)
 |-- ppu_tf: decimal(24,4) (nullable = true)
 |-- ppu_lbel_cp: decimal(28,8) (nullable = true)
 |-- ppu_lbel_fg: decimal(28,8) (nullable = true)
 |-- ppu_lbel_mq: decimal(28,8) (nullable = true)
 |-- ppu_lbel_tc: decimal(28,8) (nullable = true)
 |-- ppu_lbel_tf: decimal(28,8) (nullable = true)
 |-- ppu_esika_cp: decimal(28,8) (nullable = true)
 |-- ppu_esika_fg: decimal(28,8) (nullable = true)
 |-- ppu_esika_mq: decimal(28,8) (nullable = true)
 |-- ppu_esika_tc: decimal(28,8) (nullable = true)
 |-- ppu_esika_tf: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_cp: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_fg: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_mq: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_tc: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_tf: decimal(28,8) (nullable = true)
 |-- pup: decimal(2,2) (nullable = false)
 |-- ppu: decimal(2,2) (nullable = false)
 |-- tercilpup: integer (nullable = false)
 |-- tercilppu: integer (nullable = false)

In [38]:
#df_perfilinput.write.partitionBy("codpais").format("parquet").save("s3://hdata-belcorp/modelo-analitico-parquet/perfiles/perfil_input.parquet")


df = df_perfilinput.repartition(2, "codpais", "aniocampanaproceso")

#df_perfilinput.repartition(400).write.parquet("s3://hdata-belcorp/modelo-analitico-parquet/perfiles-input")

#df_perfilinput.write.csv("s3://hdata-belcorp/modelo-analitico-parquet/perfiles-input")

#df_perfilinput.repartition("codpais", "aniocampanaproceso").write.partitionBy("codpais", "aniocampanaproceso").parquet("s3://hdata-belcorp/modelo-analitico-parquet/perfiles-input")

An error was encountered:
Session 18 did not reach idle status in time. Current status is busy.

In [37]:
df.show()

KeyboardInterrupt:

In [88]:

#spark.sql('describe perfilinput').show()
spark.sql("create hive table tblpq_perfilinput (  "
         "aniocampanaexposicion varchar(6), "
         "codebelista varchar(15), "
         "pup_lbel decimal(24,4), "
         "pup_esika decimal(24,4), "
         "pup_cyzone decimal(24,4), "
         "pup_cp decimal(24,4), "
         "pup_fg decimal(24,4), "
         "pup_mq decimal(24,4), "
         "pup_tc decimal(24,4), "
         "pup_tf decimal(24,4), "
         "pup_lbel_cp decimal(24,4), "
         "pup_lbel_fg decimal(24,4), "
         "pup_lbel_mq decimal(24,4), "
         "pup_lbel_tc decimal(24,4), "
         "pup_lbel_tf decimal(24,4), "
         "pup_esika_cp decimal(24,4), "
         "pup_esika_fg decimal(24,4), "
         "pup_esika_mq decimal(24,4), "
         "pup_esika_tc decimal(24,4), "
         "pup_esika_tf decimal(24,4), "
         "pup_cyzone_cp decimal(24,4), "
         "pup_cyzone_fg decimal(24,4), "
         "pup_cyzone_mq decimal(24,4), "
         "pup_cyzone_tc decimal(24,4), "
         "pup_cyzone_tf decimal(24,4), "
         "ppu_lbel decimal(24,4), "
         "ppu_esika decimal(24,4), "
         "ppu_cyzone decimal(24,4), "
         "ppu_cp decimal(24,4), "
         "ppu_fg decimal(24,4), "
         "ppu_mq decimal(24,4), "
         "ppu_tc decimal(24,4), "
         "ppu_tf decimal(24,4), "
         "ppu_lbel_cp decimal(28,8), "
         "ppu_lbel_fg decimal(28,8), "
         "ppu_lbel_mq decimal(28,8), "
         "ppu_lbel_tc decimal(28,8), "
         "ppu_lbel_tf decimal(28,8), "
         "ppu_esika_cp decimal(28,8), "
         "ppu_esika_fg decimal(28,8), "
         "ppu_esika_mq decimal(28,8), "
         "ppu_esika_tc decimal(28,8), "
         "ppu_esika_tf decimal(28,8), "
         "ppu_cyzone_cp decimal(28,8), "
         "ppu_cyzone_fg decimal(28,8), "
         "ppu_cyzone_mq decimal(28,8), "
         "ppu_cyzone_tc decimal(28,8), "
         "ppu_cyzone_tf decimal(28,8), "
         "pup decimal(2,2), "
         "ppu decimal(2,2), "
         "tercilpup integer, "
         "tercilppu integer) "
         "PARTITIONED BY(codpais varchar(2), aniocampanaproceso varchar(6)) "
         "STORED AS PARQUET "
         "LOCATION 's3://hdata-belcorp/parquet-campaign-manager/perfil-input/' "
         "tblproperties ('parquet.compress'='SNAPPY')")

"\nno viable alternative at input 'create hive'(line 1, pos 7)\n\n== SQL ==\ncreate hive table tblpq_perfilinput (  aniocampanaexposicion varchar(6), codebelista varchar(15), pup_lbel decimal(24,4), pup_esika decimal(24,4), pup_cyzone decimal(24,4), pup_cp decimal(24,4), pup_fg decimal(24,4), pup_mq decimal(24,4), pup_tc decimal(24,4), pup_tf decimal(24,4), pup_lbel_cp decimal(24,4), pup_lbel_fg decimal(24,4), pup_lbel_mq decimal(24,4), pup_lbel_tc decimal(24,4), pup_lbel_tf decimal(24,4), pup_esika_cp decimal(24,4), pup_esika_fg decimal(24,4), pup_esika_mq decimal(24,4), pup_esika_tc decimal(24,4), pup_esika_tf decimal(24,4), pup_cyzone_cp decimal(24,4), pup_cyzone_fg decimal(24,4), pup_cyzone_mq decimal(24,4), pup_cyzone_tc decimal(24,4), pup_cyzone_tf decimal(24,4), ppu_lbel decimal(24,4), ppu_esika decimal(24,4), ppu_cyzone decimal(24,4), ppu_cp decimal(24,4), ppu_fg decimal(24,4), ppu_mq decimal(24,4), ppu_tc decimal(24,4), ppu_tf decimal(24,4), ppu_lbel_cp decimal(28,8), ppu_lbel_fg decimal(28,8), ppu_lbel_mq decimal(28,8), ppu_lbel_tc decimal(28,8), ppu_lbel_tf decimal(28,8), ppu_esika_cp decimal(28,8), ppu_esika_fg decimal(28,8), ppu_esika_mq decimal(28,8), ppu_esika_tc decimal(28,8), ppu_esika_tf decimal(28,8), ppu_cyzone_cp decimal(28,8), ppu_cyzone_fg decimal(28,8), ppu_cyzone_mq decimal(28,8), ppu_cyzone_tc decimal(28,8), ppu_cyzone_tf decimal(28,8), pup decimal(2,2), ppu decimal(2,2), tercilpup integer, tercilppu integer) PARTITIONED BY(codpais varchar(2), aniocampanaproceso varchar(6)) STORED AS PARQUET LOCATION 's3://hdata-belcorp/parquet-campaign-manager/perfil-input/' tblproperties ('parquet.compress'='SNAPPY')\n-------^^^\n"
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/session.py", line 710, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 73, in deco
    raise ParseException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.ParseException: "\nno viable alternative at input 'create hive'(line 1, pos 7)\n\n== SQL ==\ncreate hive table tblpq_perfilinput (  aniocampanaexposicion varchar(6), codebelista varchar(15), pup_lbel decimal(24,4), pup_esika decimal(24,4), pup_cyzone decimal(24,4), pup_cp decimal(24,4), pup_fg decimal(24,4), pup_mq decimal(24,4), pup_tc decimal(24,4), pup_tf decimal(24,4), pup_lbel_cp decimal(24,4), pup_lbel_fg decimal(24,4), pup_lbel_mq decimal(24,4), pup_lbel_tc decimal(24,4), pup_lbel_tf decimal(24,4), pup_esika_cp decimal(24,4), pup_esika_fg decimal(24,4), pup_esika_mq decimal(24,4), pup_esika_tc decimal(24,4), pup_esika_tf decimal(24,4), pup_cyzone_cp decimal(24,4), pup_cyzone_fg decimal(24,4), pup_cyzone_mq decimal(24,4), pup_cyzone_tc decimal(24,4), pup_cyzone_tf decimal(24,4), ppu_lbel decimal(24,4), ppu_esika decimal(24,4), ppu_cyzone decimal(24,4), ppu_cp decimal(24,4), ppu_fg decimal(24,4), ppu_mq decimal(24,4), ppu_tc decimal(24,4), ppu_tf decimal(24,4), ppu_lbel_cp decimal(28,8), ppu_lbel_fg decimal(28,8), ppu_lbel_mq decimal(28,8), ppu_lbel_tc decimal(28,8), ppu_lbel_tf decimal(28,8), ppu_esika_cp decimal(28,8), ppu_esika_fg decimal(28,8), ppu_esika_mq decimal(28,8), ppu_esika_tc decimal(28,8), ppu_esika_tf decimal(28,8), ppu_cyzone_cp decimal(28,8), ppu_cyzone_fg decimal(28,8), ppu_cyzone_mq decimal(28,8), ppu_cyzone_tc decimal(28,8), ppu_cyzone_tf decimal(28,8), pup decimal(2,2), ppu decimal(2,2), tercilpup integer, tercilppu integer) PARTITIONED BY(codpais varchar(2), aniocampanaproceso varchar(6)) STORED AS PARQUET LOCATION 's3://hdata-belcorp/parquet-campaign-manager/perfil-input/' tblproperties ('parquet.compress'='SNAPPY')\n-------^^^\n"

In [28]:
df_pup_calculo = sqlContext.sql(" Select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
                                " pup_lbel/(pup_lbel+pup_esika+pup_cyzone) as pup_lbel, "
                                " pup_esika/(pup_lbel+pup_esika+pup_cyzone) as pup_esika, " 
                                " pup_cyzone/(pup_lbel+pup_esika+pup_cyzone) as pup_cyzone "
                                " from perfilinput ")

df_pup_calculo.registerTempTable("pup_calculo")

In [29]:
df_categoria_calculo =sqlContext.sql(" Select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, " 
                                " pup_cp/(pup_cp+pup_fg+pup_mq+pup_tc+pup_tf) as pup_cp, pup_fg/(pup_cp+pup_fg+pup_mq+pup_tc+pup_tf) as pup_fg, "
                                " pup_mq/(pup_cp+pup_fg+pup_mq+pup_tc+pup_tf) as pup_mq, pup_tc/(pup_cp+pup_fg+pup_mq+pup_tc+pup_tf) as pup_tc, "
                                " pup_tf/(pup_cp+pup_fg+pup_mq+pup_tc+pup_tf) as pup_tf  "
                                " from perfilinput ")

df_categoria_calculo.registerTempTable("categoria_calculo")

In [30]:
df_metricas_calculo = sqlContext.sql(" select aniocampanaexposicion, aniocampanaproceso, codpais, codebelista, "
                                     " max(ppu_lbel) as ppu_lbel_max, min(ppu_lbel) as ppu_lbel_min, " 
                                     " max(ppu_esika) as ppu_esika_max, min(ppu_esika) as ppu_esika_min, " 
                                     " max(ppu_cyzone) as ppu_cyzone_max, min(ppu_cyzone) as ppu_cyzone_min, "
                                     " max(ppu_cp) as ppu_cp_max, min(ppu_cp) as ppu_cp_min, "
                                     " max(ppu_fg) as ppu_fg_max, min(ppu_fg) as ppu_fg_min, "
                                     " max(ppu_mq) as ppu_mq_max, min(ppu_mq) as ppu_mq_min, "
                                     " max(ppu_tc) as ppu_tc_max, min(ppu_tc) as ppu_tc_min, "
                                     " max(ppu_tf) as ppu_tf_max, min(ppu_tf) as ppu_tf_min "
                                     " from perfilinput "
                                     " group by aniocampanaexposicion, aniocampanaproceso, codpais, codebelista ")
df_metricas_calculo.registerTempTable("metricas_calculo")

In [31]:
df_homogenizacion_ppu_marca_input = sqlContext.sql(" Select a.aniocampanaexposicion, a.aniocampanaproceso, a.codpais, a.codebelista, "
                                         " (a.ppu_lbel - b.ppu_lbel_min)/(b.ppu_lbel_max - b.ppu_lbel_min) as ppu_lbel, "
                                         " (a.ppu_esika - b.ppu_esika_min)/(b.ppu_esika_max - b.ppu_esika_min) as ppu_esika, "
                                         " (a.ppu_cyzone - b.ppu_cyzone_min)/(b.ppu_cyzone_max - b.ppu_cyzone_min) as ppu_cyzone "
                                         " from perfilinput a "
                                         " inner join metricas_calculo b on b.aniocampanaexposicion=a.aniocampanaexposicion and "
                                         " b.aniocampanaproceso=a.aniocampanaproceso and b.codpais=a.codpais and "
                                         " b.codebelista=a.codebelista ")

df_homogenizacion_ppu_marca_input.registerTempTable("homogenizacion_ppu_marca_input")

In [32]:
df_homogenizacion_ppu_categoria_input = sqlContext.sql(" Select a.aniocampanaexposicion, a.aniocampanaproceso, a.codpais, a.codebelista, "
                                                       
                                         " (a.ppu_lbel - b.ppu_lbel_min)/(b.ppu_lbel_max - b.ppu_lbel_min) as ppu_lbel, "                                                       
                                         " (a.ppu_esika - b.ppu_esika_min)/(b.ppu_esika_max - b.ppu_esika_min) as ppu_esika, "
                                         " (a.ppu_cyzone - b.ppu_cyzone_min)/(b.ppu_cyzone_max - b.ppu_cyzone_min) as ppu_cyzone, "
                                                       
                                         " (a.ppu_cp - b.ppu_cp_min)/(b.ppu_cp_max - b.ppu_cp_min) as ppu_cp, "
                                         " (a.ppu_fg - b.ppu_fg_min)/(b.ppu_fg_max - b.ppu_fg_min) as ppu_fg, "
                                         " (a.ppu_mq - b.ppu_mq_min)/(b.ppu_mq_max - b.ppu_mq_min) as ppu_mq, "
                                         " (a.ppu_tc - b.ppu_tc_min)/(b.ppu_tc_max - b.ppu_tc_min) as ppu_tc, "
                                         " (a.ppu_tf - b.ppu_tf_min)/(b.ppu_tf_max - b.ppu_tf_min) as ppu_tf "                                                       
                                         
                                         " from perfilinput a "
                                         " inner join metricas_calculo b on b.aniocampanaexposicion=a.aniocampanaexposicion and "
                                         " b.aniocampanaproceso=a.aniocampanaproceso and b.codpais=a.codpais and "
                                         " b.codebelista=a.codebelista ")

df_homogenizacion_ppu_categoria_input.registerTempTable("homogenizacion_ppu_categoria_input")

In [54]:
df_data_perfil = sqlContext.sql(" Select b.pup_lbel, b.pup_cyzone , c.pup_cp, c.pup_mq, c.pup_tc, a.ppu_fg "                                                       
                                 " from homogenizacion_ppu_categoria_input a "
                                 " inner join pup_calculo b on b.aniocampanaexposicion=a.aniocampanaexposicion and "
                                 " b.aniocampanaproceso=a.aniocampanaproceso and b.codpais=a.codpais and "
                                 " b.codebelista=a.codebelista "
                                 " inner join categoria_calculo c on c.aniocampanaexposicion=a.aniocampanaexposicion and "
                                 " c.aniocampanaproceso=a.aniocampanaproceso and c.codpais=a.codpais and "
                                 " c.codebelista=a.codebelista")

df_data_perfil.registerTempTable("data_perfil")

In [57]:
pdf = df_data_perfil.toPandas()

In [37]:
import boto3
import boto3.session

session = boto3.session.Session(region_name='us-east-1')
s3client = session.client('s3', config= boto3.session.Config(signature_version='s3v4'))

response = s3client.get_object(Bucket='hdata-belcorp', Key='perfiles-pickles/'+ "Modelo" + codpais + ".pkl"'')

In [38]:
import pickle

body_string = response['Body'].read()
kmeans = pickle.loads(body_string)

/usr/local/lib64/python3.4/site-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator KMeans from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [43]:
pdf = df_homogenizacion_ppu_categoria_input.toPandas()

In [45]:
pdf.ppu_lbel.astype='float'

aniocampanaexposicion    object
aniocampanaproceso       object
codpais                  object
codebelista              object
ppu_lbel                 object
ppu_esika                object
ppu_cyzone               object
ppu_cp                   object
ppu_fg                   object
ppu_mq                   object
ppu_tc                   object
ppu_tf                   object
dtype: object

In [58]:

predict  = kmeans.predict(pdf)

Input contains NaN, infinity or a value too large for dtype('float64').
Traceback (most recent call last):
  File "/usr/local/lib64/python3.4/site-packages/sklearn/cluster/k_means_.py", line 988, in predict
    X = self._check_test_data(X)
  File "/usr/local/lib64/python3.4/site-packages/sklearn/cluster/k_means_.py", line 865, in _check_test_data
    X = check_array(X, accept_sparse='csr', dtype=FLOAT_DTYPES)
  File "/usr/local/lib64/python3.4/site-packages/sklearn/utils/validation.py", line 453, in check_array
    _assert_all_finite(array)
  File "/usr/local/lib64/python3.4/site-packages/sklearn/utils/validation.py", line 44, in _assert_all_finite
    " or a value too large for %r." % X.dtype)
ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [33]:
df_homogenizacion_ppu_categoria_input.printSchema()

root
 |-- aniocampanaexposicion: string (nullable = false)
 |-- aniocampanaproceso: string (nullable = false)
 |-- codpais: string (nullable = true)
 |-- codebelista: string (nullable = true)
 |-- ppu_lbel: decimal(38,13) (nullable = true)
 |-- ppu_esika: decimal(38,13) (nullable = true)
 |-- ppu_cyzone: decimal(38,13) (nullable = true)
 |-- ppu_cp: decimal(38,13) (nullable = true)
 |-- ppu_fg: decimal(38,13) (nullable = true)
 |-- ppu_mq: decimal(38,13) (nullable = true)
 |-- ppu_tc: decimal(38,13) (nullable = true)
 |-- ppu_tf: decimal(38,13) (nullable = true)

In [34]:
import boto3
import boto3.session

An error was encountered:
Invalid status code '404' from http://ip-10-12-6-170.ec2.internal:8998/sessions/15 with error payload: "Session '15' not found."

In [106]:
df_perfilinput.printSchema()

root
 |-- aniocampanaexposicion: string (nullable = false)
 |-- aniocampanaproceso: string (nullable = false)
 |-- codpais: string (nullable = true)
 |-- codebelista: string (nullable = true)
 |-- pup_lbel: decimal(24,4) (nullable = true)
 |-- pup_esika: decimal(24,4) (nullable = true)
 |-- pup_cyzone: decimal(24,4) (nullable = true)
 |-- pup_cp: decimal(24,4) (nullable = true)
 |-- pup_fg: decimal(24,4) (nullable = true)
 |-- pup_mq: decimal(24,4) (nullable = true)
 |-- pup_tc: decimal(24,4) (nullable = true)
 |-- pup_tf: decimal(24,4) (nullable = true)
 |-- pup_lbel_cp: decimal(24,4) (nullable = true)
 |-- pup_lbel_fg: decimal(24,4) (nullable = true)
 |-- pup_lbel_mq: decimal(24,4) (nullable = true)
 |-- pup_lbel_tc: decimal(24,4) (nullable = true)
 |-- pup_lbel_tf: decimal(24,4) (nullable = true)
 |-- pup_esika_cp: decimal(24,4) (nullable = true)
 |-- pup_esika_fg: decimal(24,4) (nullable = true)
 |-- pup_esika_mq: decimal(24,4) (nullable = true)
 |-- pup_esika_tc: decimal(24,4) (nullable = true)
 |-- pup_esika_tf: decimal(24,4) (nullable = true)
 |-- pup_cyzone_cp: decimal(24,4) (nullable = true)
 |-- pup_cyzone_fg: decimal(24,4) (nullable = true)
 |-- pup_cyzone_mq: decimal(24,4) (nullable = true)
 |-- pup_cyzone_tc: decimal(24,4) (nullable = true)
 |-- pup_cyzone_tf: decimal(24,4) (nullable = true)
 |-- ppu_lbel: decimal(24,4) (nullable = true)
 |-- ppu_esika: decimal(24,4) (nullable = true)
 |-- ppu_cyzone: decimal(24,4) (nullable = true)
 |-- ppu_cp: decimal(24,4) (nullable = true)
 |-- ppu_fg: decimal(24,4) (nullable = true)
 |-- ppu_mq: decimal(24,4) (nullable = true)
 |-- ppu_tc: decimal(24,4) (nullable = true)
 |-- ppu_tf: decimal(24,4) (nullable = true)
 |-- ppu_lbel_cp: decimal(28,8) (nullable = true)
 |-- ppu_lbel_fg: decimal(28,8) (nullable = true)
 |-- ppu_lbel_mq: decimal(28,8) (nullable = true)
 |-- ppu_lbel_tc: decimal(28,8) (nullable = true)
 |-- ppu_lbel_tf: decimal(28,8) (nullable = true)
 |-- ppu_esika_cp: decimal(28,8) (nullable = true)
 |-- ppu_esika_fg: decimal(28,8) (nullable = true)
 |-- ppu_esika_mq: decimal(28,8) (nullable = true)
 |-- ppu_esika_tc: decimal(28,8) (nullable = true)
 |-- ppu_esika_tf: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_cp: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_fg: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_mq: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_tc: decimal(28,8) (nullable = true)
 |-- ppu_cyzone_tf: decimal(28,8) (nullable = true)
 |-- pup: decimal(2,2) (nullable = false)
 |-- ppu: decimal(2,2) (nullable = false)
 |-- tercilpup: integer (nullable = false)
 |-- tercilppu: integer (nullable = false)

In [49]:
sqlContext.dropTempTable("conteocategorias")

In [26]:
#ventas_consultora = sqlContext.sql("SELECT * FROM parquetFile where codpais='CO' and aniocampana='201807' limit 100")
ventas_consultora = sqlContext.sql("SELECT codpais, aniocampana, codebelista FROM fvtaproebecam where codpais='PE' and aniocampana='201707' limit 100")
cols1 = ['codpais', 'codebelista']
ventas_consultora.select(cols1).show()

+-------+-----------+
|codpais|codebelista|
+-------+-----------+
|     PE|  031969921|
|     PE|  031975603|
|     PE|  031975603|
|     PE|  031981166|
|     PE|  031981166|
|     PE|  031980224|
|     PE|  031980224|
|     PE|  031981166|
|     PE|  031980224|
|     PE|  031980224|
|     PE|  031981166|
|     PE|  031980224|
|     PE|  031981166|
|     PE|  031980224|
|     PE|  031975603|
|     PE|  031975603|
|     PE|  031980224|
|     PE|  031975603|
|     PE|  031975603|
|     PE|  031981166|
+-------+-----------+
only showing top 20 rows

In [27]:
dproducto.

247184

In [11]:
ventas_all = ventas_consultora.map(lambda p: "codebelista:".format(p.codebelista, p.codpais)) #.format(p.name, p.comment_col))

'DataFrame' object has no attribute 'map'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/dataframe.py", line 1182, in __getattr__
    "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
AttributeError: 'DataFrame' object has no attribute 'map'

In [12]:
for nation in ventas_consultora.collect():
    print(nation)

Row(codebelista='9906728482', realventa_dolares=35.58177947998047, realuuvendidas=18, realvtamnneto=99202.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906727150', realventa_dolares=80.26578521728516, realuuvendidas=13, realvtamnneto=223781.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906719627', realventa_dolares=117.63235473632812, realuuvendidas=26, realvtamnneto=327959.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906718823', realventa_dolares=131.12088012695312, realuuvendidas=29, realvtamnneto=365565.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906718971', realventa_dolares=63.325321197509766, realuuvendidas=14, realvtamnneto=176551.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906682495', realventa_dolares=43.54519271850586, realuuvendidas=5, realvtamnneto=121404.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906686192', realventa_dolares=55.73708724975586, realuuvendidas=6, realvtamnneto=155395.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906673973', realventa_dolares=35.30272674560547, realuuvendidas=9, realvtamnneto=98424.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906656685', realventa_dolares=12.160329818725586, realuuvendidas=3, realvtamnneto=33903.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906653783', realventa_dolares=122.4698715209961, realuuvendidas=14, realvtamnneto=341446.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906632161', realventa_dolares=49.422523498535156, realuuvendidas=13, realvtamnneto=137790.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906615075', realventa_dolares=62.70480728149414, realuuvendidas=14, realvtamnneto=174821.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906600279', realventa_dolares=22.388450622558594, realuuvendidas=9, realvtamnneto=62419.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906597938', realventa_dolares=52.28873825073242, realuuvendidas=15, realvtamnneto=145781.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906589552', realventa_dolares=64.7431869506836, realuuvendidas=9, realvtamnneto=180504.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906525005', realventa_dolares=68.8267593383789, realuuvendidas=40, realvtamnneto=191889.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906502810', realventa_dolares=50.39167785644531, realuuvendidas=13, realvtamnneto=140492.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906473754', realventa_dolares=54.27654266357422, realuuvendidas=10, realvtamnneto=151323.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906459462', realventa_dolares=72.07066345214844, realuuvendidas=19, realvtamnneto=200933.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906422798', realventa_dolares=32.14167785644531, realuuvendidas=10, realvtamnneto=89611.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906401769', realventa_dolares=42.85258102416992, realuuvendidas=18, realvtamnneto=119473.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906387766', realventa_dolares=36.47704315185547, realuuvendidas=8, realvtamnneto=101698.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906382101', realventa_dolares=51.170372009277344, realuuvendidas=12, realvtamnneto=142663.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906334417', realventa_dolares=39.86119079589844, realuuvendidas=16, realvtamnneto=111133.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906184780', realventa_dolares=72.0068130493164, realuuvendidas=12, realvtamnneto=200755.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906230955', realventa_dolares=96.3593978881836, realuuvendidas=19, realvtamnneto=268650.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906194859', realventa_dolares=29.469154357910156, realuuvendidas=7, realvtamnneto=82160.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906148491', realventa_dolares=55.13665771484375, realuuvendidas=21, realvtamnneto=153721.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906138760', realventa_dolares=45.01900863647461, realuuvendidas=12, realvtamnneto=125513.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906128039', realventa_dolares=49.775108337402344, realuuvendidas=14, realvtamnneto=138773.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906085852', realventa_dolares=59.7144889831543, realuuvendidas=11, realvtamnneto=166484.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900691210', realventa_dolares=53.79304122924805, realuuvendidas=9, realvtamnneto=149975.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900676421', realventa_dolares=47.7668571472168, realuuvendidas=29, realvtamnneto=133174.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900651739', realventa_dolares=53.89167785644531, realuuvendidas=12, realvtamnneto=150250.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900650965', realventa_dolares=36.39311218261719, realuuvendidas=7, realvtamnneto=101464.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900597130', realventa_dolares=42.07316970825195, realuuvendidas=13, realvtamnneto=117300.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900563380', realventa_dolares=87.98278045654297, realuuvendidas=35, realvtamnneto=245296.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900108309', realventa_dolares=60.51291275024414, realuuvendidas=13, realvtamnneto=168710.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900211449', realventa_dolares=122.895263671875, realuuvendidas=17, realvtamnneto=342632.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900532262', realventa_dolares=50.553802490234375, realuuvendidas=12, realvtamnneto=140944.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900332885', realventa_dolares=43.74210739135742, realuuvendidas=10, realvtamnneto=121953.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900120662', realventa_dolares=56.52690124511719, realuuvendidas=12, realvtamnneto=157597.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900067225', realventa_dolares=69.4117660522461, realuuvendidas=23, realvtamnneto=193520.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900170331', realventa_dolares=56.304161071777344, realuuvendidas=15, realvtamnneto=156976.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900270889', realventa_dolares=119.77259826660156, realuuvendidas=27, realvtamnneto=333926.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900494652', realventa_dolares=34.229557037353516, realuuvendidas=8, realvtamnneto=95432.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900011349', realventa_dolares=52.52582550048828, realuuvendidas=24, realvtamnneto=146442.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900066407', realventa_dolares=42.63737487792969, realuuvendidas=10, realvtamnneto=118873.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900344191', realventa_dolares=42.27403259277344, realuuvendidas=15, realvtamnneto=117860.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900122195', realventa_dolares=59.28694534301758, realuuvendidas=14, realvtamnneto=165292.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900332275', realventa_dolares=80.81312561035156, realuuvendidas=14, realvtamnneto=225307.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900356067', realventa_dolares=95.63701629638672, realuuvendidas=15, realvtamnneto=266636.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900268767', realventa_dolares=100.25932312011719, realuuvendidas=32, realvtamnneto=279523.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900368350', realventa_dolares=29.817790985107422, realuuvendidas=9, realvtamnneto=83132.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900356860', realventa_dolares=54.31277084350586, realuuvendidas=21, realvtamnneto=151424.0, codpais='CO', aniocampana=201807)
Row(codebelista='9900332220', realventa_dolares=38.93256759643555, realuuvendidas=26, realvtamnneto=108544.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906783583', realventa_dolares=59.9017219543457, realuuvendidas=15, realvtamnneto=167006.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906782188', realventa_dolares=48.822811126708984, realuuvendidas=15, realvtamnneto=136118.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906782266', realventa_dolares=93.20983123779297, realuuvendidas=17, realvtamnneto=259869.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906781246', realventa_dolares=51.57316970825195, realuuvendidas=12, realvtamnneto=143786.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906778622', realventa_dolares=33.29878234863281, realuuvendidas=13, realvtamnneto=92837.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906778091', realventa_dolares=77.85509490966797, realuuvendidas=27, realvtamnneto=217060.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906775854', realventa_dolares=32.89167785644531, realuuvendidas=8, realvtamnneto=91702.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906775853', realventa_dolares=79.05416107177734, realuuvendidas=12, realvtamnneto=220403.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906771480', realventa_dolares=98.67467498779297, realuuvendidas=21, realvtamnneto=275105.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906768567', realventa_dolares=38.631996154785156, realuuvendidas=12, realvtamnneto=107706.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906767898', realventa_dolares=61.114418029785156, realuuvendidas=19, realvtamnneto=170387.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906767912', realventa_dolares=52.0233154296875, realuuvendidas=16, realvtamnneto=145041.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906764133', realventa_dolares=68.05380249023438, realuuvendidas=20, realvtamnneto=189734.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906759255', realventa_dolares=37.719512939453125, realuuvendidas=11, realvtamnneto=105162.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906758559', realventa_dolares=62.31492233276367, realuuvendidas=15, realvtamnneto=173734.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906756707', realventa_dolares=50.877689361572266, realuuvendidas=12, realvtamnneto=141847.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906750916', realventa_dolares=28.634145736694336, realuuvendidas=8, realvtamnneto=79832.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906750102', realventa_dolares=113.5165023803711, realuuvendidas=25, realvtamnneto=316484.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906750368', realventa_dolares=92.12266540527344, realuuvendidas=21, realvtamnneto=256838.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906746762', realventa_dolares=66.11441802978516, realuuvendidas=20, realvtamnneto=184327.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906742497', realventa_dolares=71.36585235595703, realuuvendidas=13, realvtamnneto=198968.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906739939', realventa_dolares=66.55774688720703, realuuvendidas=9, realvtamnneto=185563.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906737476', realventa_dolares=50.625179290771484, realuuvendidas=21, realvtamnneto=141143.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906731041', realventa_dolares=47.293399810791016, realuuvendidas=21, realvtamnneto=131854.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906729894', realventa_dolares=46.966285705566406, realuuvendidas=17, realvtamnneto=130942.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906723710', realventa_dolares=49.42683029174805, realuuvendidas=15, realvtamnneto=137802.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906720725', realventa_dolares=36.267574310302734, realuuvendidas=9, realvtamnneto=101114.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906703207', realventa_dolares=59.17934036254883, realuuvendidas=8, realvtamnneto=164992.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906685248', realventa_dolares=160.10760498046875, realuuvendidas=29, realvtamnneto=446380.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906676939', realventa_dolares=65.78156280517578, realuuvendidas=14, realvtamnneto=183399.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906675543', realventa_dolares=53.83930969238281, realuuvendidas=14, realvtamnneto=150104.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906671738', realventa_dolares=54.40494918823242, realuuvendidas=27, realvtamnneto=151681.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906669222', realventa_dolares=53.13450622558594, realuuvendidas=23, realvtamnneto=148139.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906661398', realventa_dolares=74.395263671875, realuuvendidas=15, realvtamnneto=207414.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906653036', realventa_dolares=126.31097412109375, realuuvendidas=26, realvtamnneto=352155.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906622768', realventa_dolares=60.417503356933594, realuuvendidas=12, realvtamnneto=168444.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906607698', realventa_dolares=81.84074401855469, realuuvendidas=20, realvtamnneto=228172.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906587485', realventa_dolares=60.2855110168457, realuuvendidas=22, realvtamnneto=168076.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906548276', realventa_dolares=62.53622817993164, realuuvendidas=13, realvtamnneto=174351.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906520113', realventa_dolares=43.469512939453125, realuuvendidas=21, realvtamnneto=121193.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906465606', realventa_dolares=48.338951110839844, realuuvendidas=19, realvtamnneto=134769.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906429931', realventa_dolares=84.29698944091797, realuuvendidas=17, realvtamnneto=235020.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906380983', realventa_dolares=124.6814956665039, realuuvendidas=40, realvtamnneto=347612.0, codpais='CO', aniocampana=201807)
Row(codebelista='9906359826', realventa_dolares=40.83070373535156, realuuvendidas=7, realvtamnneto=113836.0, codpais='CO', aniocampana=201807)